Whatsapp_Agent.json
{
  "name": "Whatsapp_Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        -48
      ],
      "id": "5b19e2fe-4cd8-4d9a-a5f1-b12db4cf6564",
      "name": "WhatsApp Trigger",
      "webhookId": "321e7d0e-6ee7-4e91-8094-a1c90100f771",
      "executeOnce": false,
      "retryOnFail": false,
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "vrNbopsjIWjIx6rH",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        128,
        -48
      ],
      "id": "3420ceba-ef0f-4a60-b5c7-8ec0f9a30e0b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        880,
        528
      ],
      "id": "ae383e5c-d9f3-40a4-a2a3-ca4660ba155e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pO7Sl8AIuXcLUgAw",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "774479339075824",
        "recipientPhoneNumber": "+919458892401",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        480,
        -48
      ],
      "id": "d9558b56-11aa-41f7-b5ae-50d282834376",
      "name": "Send message",
      "webhookId": "e534a145-fa4f-47da-953a-71716348ebc4",
      "credentials": {
        "whatsAppApi": {
          "id": "rbCijQmEUu7Pdc53",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        48,
        144
      ],
      "id": "1ecad67b-3f3f-4c53-ab6a-9470fef2f412",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "nJuECdSnKszh1nO3",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1008,
        528
      ],
      "id": "c9d2c945-07db-458f-84c9-cf6b3a3c9ad1",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "BziYt0Lms6TKiNZp",
          "name": "SerpAPI account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        368,
        160
      ],
      "id": "dd532e12-78c8-45da-bd9b-8c5affc9d414",
      "name": "Calculator"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        []
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "af76d6e1-45c6-4155-ae9f-d9e7a8b03d83",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7e43b908265094ebbfdef3cd587259f89bb4f21e4140c5ad25971de676a30754"
  },
  "id": "50v7useRoSXdN9dM",
  "tags": []
}